<div class="container-fluid dashboard-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="account-container">
        <img src="https://via.placeholder.com/300/09f/fff.png%20C/O%20https://placeholder.com/">
        <div class="account-information">
            <p>Username: Kenny</p>
            <p>Email: kenny@test.com</p>
            <p>City: Orlando</p>
            <p>State: Florida</p>
            <p>Zip Code: 48372</p>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="button-container">
                    <a id="make-request-btn" href="">Make Request</a>
                    <a id="search-request-btn" href="">Search Request</a>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="request-container">
                    <h3>Your Request</h3>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="starred-container">
                    <h3>Starred Request</h3>
                </div>
            </div>
        </div>
    </div>  
</div>