<div class="container-fluid hero-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="hero-tite-container">
          <h1>GoodNeighbor</h1>
          <a class="hero-btn" href="">SignIn</a>
          <a class="hero-btn" href="">SignUp</a>
      </div>
</div>