<div class="container-fluid">
<div class="row hero-row">
<div class="hero-container">
    <div class="hero">
        <img src="../img/pexels-william-fortunato-6140411-new.jpg">
          <div class="hero-tite-container">
            <h1 id="headline">good neighbor</h1>
            <div class="hero-btn-container">
                {{#if logged_in}}
                <a id="hero-sign-in-btn" class="hero-btn" href="/dashboard">Dashboard</a>
                {{else}}
                <a id="hero-sign-in-btn" class="hero-btn" href="/login">SignIn</a>
                <a id="hero-sign-up-btn" class="hero-btn" href="/signup">SignUp</a>
                {{/if}}
            </div>
          </div>
      </div>
</div>
<div class="slider"></div>
</div>
</div>
<div class="container-fluid">
<div class="row about-container">
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 about-text-container">
      <div id="about-heading"><h2>Who are we?</h2><hr></div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 about-image-container">
      <img src="../img/about-us.jpg">
    </div>
  </div>
  <div class="row offer-container">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 offer-image-container">
      <img src="../img/working.jpg">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 offer-text-container">
      <div id="offer-heading"><h2>What do we offer?</h2><hr></div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <a href="">Sign up today</a>
    </div>
  </div>
  </div>
  <div class="container-fluid bottom-full-container">
    <div class="row bottom-container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bottom-image-container">
          <img src="../img/helpinghand-2.jpg">
          <div class="bottom-title-container">
            <h3>Are you ready to try it?</h3>
            <a href="/signup">Sign up today</a>
          </div>
        </div>
    </div>
  </div>


<!--<div class="container-fluid hero-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="hero-tite-container">
          <h1>GoodNeighbor</h1>
          <div class="hero-btn-container">
            <a class="hero-btn" href="/login">SignIn</a>
            <a class="hero-btn" href="/signup">SignUp</a>
          </div>
      </div>
</div>-->