<div class="container-fluid hero-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="hero-tite-container">
          <h1>GoodNeighbor</h1>
          <div class="hero-btn-container">
            <a class="hero-btn" href="/login">SignIn</a>
            <a class="hero-btn" href="/signup">SignUp</a>
          </div>
      </div>
</div>