  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="single-message-container">
                <h4>{{title}}</h4>
                <p>{{text}}</p>
                <button id="del-msg-btn" data-id={{id}}>Delete Message</button>
            </div>
    </div>
  </div>



  <script src="/js/logout.js"></script>
  <script src="/js/indivMsg.js"></script>
