<div class="container-fluid dashboard-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="request-search-container">
                {{#each location as |request|}}
                <div class="location-request-container">
                  <h4>Title: {{request.title}}</h4>
                  <p>Description: {{request.text}}</p>
                  <button class="view-req-btn" data-id= {{request.id}}>View Request</button>
                </div>
                {{/each}}
            </div>
    </div>
  </div>
</div>

<script src="/js/location.js"></script>
  <script src="/js/logout.js"></script>
