<div class="container-fluid login-container">
    <div class="row">
        <form id="login-form">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password"><br>
            <input type="submit" id="login-submit" name="login-submit">
        </form>
    </div>
</div>

<script src="/js/login.js"></script>