<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
<div class="container-fluid message-container">
    <div class="row">
    <form id= "messages-table"></form>
   <div class="message-box1">100% wide until large breakpoint</div>
   <div class="message-box2">100% wide until large breakpoint</div>
   <div class="message-box3">100% wide until large breakpoint</div>
   <div class="message-box4">100% wide until large breakpoint</div>
   <div class="message-box5">100% wide until large breakpoint</div>
   <div class="message-box6">100% wide until large breakpoint</div>
   <div class="message-box7">100% wide until large breakpoint</div>
</div>

<div class="container-lg">100% wide until large breakpoint
 <button id="send-message-btn" type="submit">Send message</button>
</div>
