<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
<div class="container-fluid message-container">
    <div class="row">
    <form id= "messages-table"></form>
    {{#each recMsgData as |message|}}
   <div class="message-box">
       <h3>{{title}}</h3>
       {{!-- <p>{{user.username}}</p> --}}
       <button class="view-msg-btn">View Message</button>
   </div>
    {{/each}}
    {{#each sentMsgData as |message|}}
   <div class="message-box">
       <h3>{{title}}</h3>
       <p>{{user.username}}</p>
   </div>
    {{/each}}
</div>


<script src="/js/messages.js"></script>