<div class="container-fluid dashboard-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="single-request-container">
                <h4>{{request.title}}</h4>
                <p>{{request.text}}</p>
            </div>
    </div>
  </div>
</div>