

/*======================
        COLORS
======================*/
:root{
    --dark-green: #5F6C5A;
    --yellow: #E9C46A;
    --orange: #F78E69;
    --red: #D16666;
    --white: #FCFCFC;
    --black: #02111B;
}

/*=====================
        FONTS
=====================*/

/*This set 1 rem to 10px instead of it being 16px so now 1.6 rem is now 16px*/
html{
    font-size: 62.5%;
}
/*Setting up the h1 - h6 tags with the font-sizes*/
h1 {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}
h4 {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
}
h5 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
h6 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
} 
p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/*===================
      NAVIGATION
====================*/
nav{
    background:var(--dark-green);
}
.navbar-items{
    padding: 0.5rem 4rem 0.5rem 4rem;
    width: 85%;
}
.navbar-brand{
    color: var(--white);
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.1rem;
}
.navbar-brand:hover{
    color: var(--orange);
    text-decoration: none;
}
.navbar-nav li{
    padding: 1rem 1rem;
}
.navbar-nav li a{
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
}
.navbar-nav li a:hover{
    color: var(--orange);
    text-decoration: none;
}

/*======================
        HOMEPAGE
======================*/
.hero-container{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
}
.hero-row{
    height: 100vh !important;
}
.hero{
    height: 60%;
    width: 100%;
    position: relative;
}
.hero::after{
    content: "";
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#headline{
    color: var(--black);
    z-index: 3;
}
.hero-tite-container{
    width: 100%;
    padding: 0;
    margin: 0;
    top: 40%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}
.hero-tite-container h1{
    font-weight: 500;
    font-size: 6rem;
    font-family: 'Pacifico', cursive;
    padding: 0rem 0rem 2rem 0rem;
}
.hero-btn-container{
    padding: 1.5rem 0rem;
    z-index: 3;
}
.hero-btn-container a{
    padding: 1rem 5rem;
    margin: 0rem 1rem;
    background: var(--red);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}
.hero-btn-container a:hover{
    text-decoration: none;
    background-color: var(--yellow);
}
.hero-btn{
    border-radius: 4px;
    font-weight: 500;
}
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, var(--dark-green), #7e897a);
    z-index: -1 !important;
}

/*======================
    ABOUT CONTAINER
======================*/
.about-container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.about-image-container{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}
.about-image-container::after{
    content: "";
    background: var(--red);
    width: 80%;
    height: 100%;
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: -3;
    border-radius: 0.5rem;
}
.about-image-container img{
    width: 80%;
    height: 100%;
    border-radius: 0.5rem;
}
.about-text-container{
    display: flex;
    flex-direction: column;
    padding: 0rem 7rem;
    margin-top: 5rem;
}
#about-heading{
    display: flex;
}
hr{
    width: 40%;
    align-self: center;
    margin-left: 1.7rem;
    padding: 0.01rem 0rem;
    margin-top: 2rem;
    border-color: #000;
    opacity: 1;
}
hr:not([size]){
    height: 0px;
}
#about-heading h2{
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 2rem;
}
.about-text-container p{
    text-align: left;
    margin-top: 2rem;
    margin-left: auto;
    margin-right:auto;
}
.about-text-container a{
    padding: 1.2rem 5rem;
    background: var(--orange);
    color: var(--white);
    font-size: 1.8rem;
    border-radius: 5px;
    align-self: flex-start;
    margin-top: 1.5rem;
}
.about-text-container a:hover{
    text-decoration: none;
    background-color: var(--red);
}
.offer-container{
    margin-top: 15rem;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.offer-image-container{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}
.offer-image-container::after{
    content: "";
    background: var(--orange);
    width: 80%;
    height: 100%;
    position: absolute;
    left: 5%;
    top: 10%;
    z-index: -3;
    border-radius: 0.5rem;
}
.offer-image-container img{
    width: 80%;
    height: 100%;
    border-radius: 0.5rem;
}
.offer-text-container{
    display: flex;
    flex-direction: column;
    padding: 0rem 7rem;
    margin-top: 5rem;
}
#offer-heading{
    display: flex;
}
#offer-heading h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 2rem;
}
.offer-text-container p{
    text-align: left;
    margin-top: 2rem;
    margin-left: auto;
    margin-right:auto;
}
.offer-text-container a{
    padding: 1.2rem 5rem;
    background: var(--dark-green);
    color: var(--white);
    font-size: 1.8rem;
    border-radius: 5px;
    align-self: flex-start;
    margin-top: 1.5rem;
    text-transform: uppercase;
}
.offer-text-container a:hover{
    text-decoration: none;
    background-color: var(--yellow);
}
.bottom-full-container{
    padding: 0rem;
}
.bottom-container{
    margin-top: 15rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.bottom-container::after{
    content: "";
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}
.bottom-image-container{
    display: flex;
    height: 60vh;
    width:100%;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
}
.bottom-image-container img{
    width: 100%;
    height: 100%;
}
.bottom-title-container{
    width: 100%;
    padding: 0;
    margin: 0;
    top: 40%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}
.bottom-title-container h3{
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 6rem;
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
    padding: 0rem 0rem 2rem 0rem;
    color: var(--white);
    z-index: 3;
}
.bottom-title-container a{
    padding: 1rem 5rem;
    background: var(--orange);
    color: var(--white);
    font-size: 1.8rem;
    border-radius: 5px;
    align-self: center;
    margin-top: 1.5rem;
    z-index: 3;
    opacity:1;
    text-transform: uppercase;
}
.bottom-title-container a:hover{
    text-decoration: none;
    background-color: var(--yellow);
}
/*======================
      LOGIN FORM 
======================*/
.login-container{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
#login-header{
    letter-spacing: 2px;
    font-size: 4.5rem;
    text-align: center;
    text-transform: uppercase;
}
#login-form label{
    font-size: 1.8rem;
    margin-top: 1rem;
}
#login-form input{
    width: 100%;
    height: auto;
    border: 1px solid var(--black);
    opacity: 0.5;
    padding: 0.5rem 0rem;
}
#login-submit{
    text-transform: uppercase;
    margin-top: 1rem;
    font-weight: 500;
    padding: .5rem 5rem;
    border: none !important;
    background-color: var(--orange);
    color: var(--white);
    opacity: 1 !important;
    margin-top: 2rem;
}
#login-submit:hover{
    background: var(--yellow);
}


/*======================
      SIGN UP FORM 
======================*/

.signup-container{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
#signup-header{
    letter-spacing: 2px;
    font-size: 4.5rem;
    text-align: center;
    text-transform: uppercase;
}
#sign-form label{
    font-size: 1.8rem;
    margin-top: 1rem;
}
#signup-form input{
    width: 100%;
    height: auto;
    border: 1px solid var(--black);
    opacity: 0.5;
    padding: 0.5rem 0rem;
}
#signup-form select{
    width: 100%;
    padding: 1rem 0rem;
}
[class*='col-']{
    padding-left: 0rem;
    padding-right: 0rem;
}
#signup-submit{
    text-transform: uppercase;
    margin-top: 1rem;
    font-weight: 500;
    padding: 1rem 5rem !important;
    border: none !important;
    background-color: var(--orange);
    color: var(--white);
    opacity: 1 !important;
    margin-top: 2rem;
}
#signup-submit:hover{
    background: var(--yellow);
}

/*======================
        DASHBOARD
======================*/
.account-full-container{
    margin-top: 5rem;
    padding-bottom: 4rem;
}
.dashboard-container{
    width: 85%;
}
.account-container{
    display: flex;
    padding: 4rem 4rem;
}
#account-information-profile-image{
    border-radius: 0.4rem;
}
.account-information{
    padding: 0rem 4rem;
    font-size: 1.6rem;
}
#account-email{
    padding-bottom: 2rem;
}
#account-message{
    padding: 1rem 4rem;
    background: var(--orange);
    color: var(--white);
    border-radius: 4px;
}
#account-message:hover{
    text-decoration: none;
    background: var(--yellow);
}
.button-container{
    text-align:center;
}
.button-container{
    padding: 2rem 2rem;
    margin: 0rem 2rem;
    width: 100%;
}
.button-container a{
    padding: 1rem 20rem;
    margin: 0rem 4rem;
}
#make-request-btn{
    background: var(--dark-green);
    color: var(--white);
    font-size: 1.8rem;
}
#make-request-btn:hover{
    background: var(--yellow);
    text-decoration: none;
    border: none;
}
#search-request-btn{
    background: var(--red);
    color: var(--white);
    font-size: 1.8rem;
}
#search-request-btn:hover{
    background: var(--yellow);
    text-decoration: none;
    border: none;
}
.request-container{
    border: .4rem solid var(--black);
    padding: 4rem;
    margin: 2rem 4rem;
    height: 40vh;
    background: #fafafa;
}
.your-requests{
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0rem;
    border-bottom: 1px solid #000;
}
.your-requests h4{
    font-size: 2rem;
    font-weight: 400;
}
.your-requests a{
    padding: 0.7rem 4rem;
    background: var(--orange);
    color: var(--white);
    border-radius: 0.4rem;
}
.your-requests a:hover{
    text-decoration: none;
    background: var(--yellow);
}
#your-request-header{
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
    color: var(--black);
    padding: 0rem 4rem;
    margin-top: 4rem;
} 
.saved-full-container{
    padding-bottom: 5rem;
}
.saved-container{
    border: 0.4rem solid var(--black);
    padding: 4rem;
    margin: 2rem 4rem;
    height: 40vh;
    background: #fafafa;
}
.saved-requests{
    display: flex;
    padding: 0.75rem 0rem;
    border-bottom: 1px solid #000;
}
#saved-header-4{
    text-align: left !important;
    font-size: 2rem;
    font-weight: 400;
}
.saved-buttons{
    text-align: right;
}
.saved-buttons a{
    background: var(--orange);
    color: var(--white);
    font-size: 1.8rem;
    border: none;
    padding: 0.7rem 4rem;
    margin-right: 2rem;
    border-radius: 0.4rem;
}
.saved-buttons a:hover{
    background: var(--yellow);
    text-decoration: none;
}

#saved-header{
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
    color: var(--black);
    padding: 0rem 4rem;
    margin-top: 4rem;   
}
.saved-header-new{
    display: flex;
    flex:1;
}
.unsave-req-btn{
    background: var(--red);
    color: var(--white);
    font-size: 1.8rem;
    border: none;
    padding: 0.9rem 4rem;
    border-radius: 0.4rem;
}
.unsave-req-btn:hover{
    background: var(--yellow);
    text-decoration: none;
}
.starred-container h3{
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
    color: var(--white);
}
/*Make Request Form CSS*/
#make-request-form{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
#make-request-form input{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#drop-down{
    width: 80%;
}

/*==========================
    MAKE REQUEST FORM
==========================*/
#make-request-form label{
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 0.5rem;
    color: var(--black);
}
#text{
    padding-bottom: 50px;
}
#make-request-form select{
    margin-top: 2rem;
}
#submit-request-btn{
    margin-top: 2rem;
    background: var(--orange);
    color: var(--white);
    font-size: 1.8rem;
    border: none;
    padding: 0.5rem 0rem;
    border-radius: 0.4rem;
}
#submit-request-btn:hover{
    background: var(--red);
}
#search-request-form{
    margin-top: 3rem;
    padding-bottom: 3rem;
}
#search-request-form select{
    padding: 0.5rem 0.5rem;
    width: 100%;
}
#submit-search-btn{
    background: var(--orange);
    color: var(--white);
    font-size: 1.8rem;
    border: none;
    padding: 0.5rem 2rem;
    width:100%;
    margin-top: 1rem;
    border-radius: 0.4rem;
}
#submit-search-btn:hover{
    background: var(--red);
}

/*========================
        SINGLE REQUEST
========================*/
.single-request-container{
    height: 90vh;
}
.single-request-container h4{
    margin-top: 5rem;
    font-size: 3.5rem;
}
.single-request-container p{
    margin-top: 2rem;
}
.single-request-container button{
    margin-top: 2rem;
}
.go-back-btn{
    border: none;
    font-size: 1.8rem;
    color: var(--white);
    background: var(--dark-green);
    padding: 1rem 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-radius: 0.4rem;
}
.go-back-btn:hover{
    background: var(--yellow);
}
.save-req-btn{
    margin-left: 4rem;
    border: none;
    font-size: 1.8rem;
    color: var(--white);
    background: var(--orange);
    padding: 1rem 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-radius: 0.4rem;
}
.save-req-btn:hover{
    background: var(--yellow);
}

/*=====================
    MESSAGE PAGE
======================*/
.message-container{
    height: 85vh;
}
#messages-header-new{
    text-align: center;
    margin-top: 4rem;
}
.message-box{
    display: flex;
    justify-content: space-between;
    padding: 5rem 5rem;
    border-bottom: 1px solid var(--black);
    width:90%;
    margin-left: auto;
    margin-right: auto;
}
.view-msg-btn{
    border: none;
    border-radius: 0.4rem;
    background: var(--orange);
    color: var(--white);
    padding: 0rem 4rem;
}
.view-msg-btn:hover{
    background: var(--yellow);
    text-decoration: none;
}

/*==========================
    SINGLE MESSAGE PAGE
==========================*/

.single-message-container-new{
    height: 85vh;
}
.single-message-container{
    margin-top: 5rem;
    padding: 0rem 5rem;
}
#del-msg-btn{
    border: none;
    border-radius: 0.4rem;
    background: var(--orange);
    color: var(--white);
    padding: 1rem 4rem;
}
#del-msg-btn:hover{
    background: var(--yellow);
    text-decoration: none;
}


/*======================
     REQUEST PAGE
======================*/

    .request-search-container{
        height: 100%;
        padding-bottom: 5rem;
    }
    .request-search-container h4{
        font-size: 2.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    .request-search-container p{
        font-size: 1.8rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    .location-request-container{
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
        padding: 2rem 0rem;
        border-bottom: 1px solid #000;
    }
    .view-req-btn{
    border: none;
    font-size: 1.8rem;
    color: var(--white);
    background: var(--orange);
    padding: 0.75rem 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    }
    .view-req-btn:hover{
        background: var(--red);
    }
    #del-req-btn{
    border: none;
    font-size: 1.8rem;
    color: var(--white);
    background: var(--red);
    padding: 1rem 4rem;
    margin-left: 3.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-radius: 0.4rem;
    }

/*======================
  SEND MESSAGE CSS
======================*/
#send-msg-btn{
    border: none;
    font-size: 1.8rem;
    color: var(--white);
    background: var(--yellow);
    padding: 0.75rem 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-radius: 0.4rem;
    margin-left: 5rem;
    margin-top: -5px;
}
#send-msg-btn:hover{
    background: var(--orange);
    text-decoration: none;
}
#send-message-form input{
    width: 100%;
    margin-left: 0rem;
}

/*======================
        FOOTER
======================*/

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-color:var(--dark-green);
}
footer p{
    color: var(--white);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 1rem;
}

/*==========================
        MEDIA QUERIES
==========================*/

@media screen and (max-width: 1625px) {
    .button-container a{
        padding: 1rem 10rem;
    }
}

@media screen and (max-width: 1150px) {
    .button-container a{
        padding: 1rem 5rem;
    }
    .custom-toggler.navbar-toggler {
        border: .1rem solid var(--white);
        color:#fff;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

@media screen and (max-width: 1000px) {
    .message-box{
        flex-direction: column;
    }
    .view-msg-btn{
        padding: 1rem 0rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .button-container a{
        padding: 1rem 2rem;
    }
    .message-box{
        flex-direction: column;
    }
    .view-msg-btn{
        padding: 1rem 0rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 600px) {
    #mobile-hero{
        height: auto !important;
        width: 100% !important;
    }
    #headline{
        color: var(--white);
    }
    .hero-tite-container{
        top: 20%;
    }
    .slider {
        height: 34vh !important;
    }
    .hero-row{
        height: 25vh !important;
    }
    .hero-container{
        height: 25vh !important;
    }
    hr{
        display: none;
    }
    .about-text-container p{
        padding-bottom: 2rem;
    }
    .bottom-container{
        margin-top: 10rem;
    }
    .bottom-image-container{
        height: 15vh;
    }
    .bottom-title-container{
        top: 13%;
    }
    .bottom-title-container h3{
        font-size: 3rem;
    }
    .custom-toggler.navbar-toggler {
        border: .1rem solid var(--white);
        color:#fff;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    /*=============================
            DASHBOARD
    =============================*/
    .account-container{
        flex-direction: column;
    }
    .account-full-container{
        padding-bottom: 0rem;
    }
    .account-information{
        padding: 2rem 0rem 0rem 0rem;
    }
    .button-container{
        padding: 0rem;
        margin: 0rem;
    }
    .button-container a{
        margin: 1rem 0rem;
        padding: 1rem 10rem;
        border-radius: 0.4rem;
    }
    .your-requests{
        flex-direction: column;
    }
    .your-requests a{
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0.75rem 2rem;
    }
    #saved-header-4{
        padding-bottom: 3rem;
    }
    .saved-requests{
        flex-direction: column;
    }
    .saved-buttons a{
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0.75rem 2rem;
    }
    .unsave-req-btn{
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0.75rem 2rem;
    }
    /*=======================
        LOCATION REQUEST
    =======================*/

    .location-request-container{
        flex-direction: column;
    }
    .request-search-container h4{
        padding-bottom: 0.5rem;
    }
    .request-search-container p{
        padding-bottom: 0.5rem;
    }
    .view-req-btn{
        border-radius: 0.4rem;
    }

    /*=======================
        REQUEST PAGE
    ========================*/

    .single-request-container{
        display: flex;
        flex-direction: column;
    }
    .single-request-container h4{
        font-size: 3rem;
    }
    .save-req-btn{
        margin-left: 0rem;
        margin-bottom: 2rem;
    }
    #send-msg-btn{
        margin-left: 0rem;
    }
    #del-req-btn{
        margin: 0rem 0rem 2rem 0rem;
    }

    /*=========================
            MESSAGES
    =========================*/

    .message-box{
        flex-direction: column;
    }
    .view-msg-btn{
        padding: 1rem 0rem;
        margin-top: 2rem;
    }
}