/*Setting up */
:root{
    --dark-green: #264653;
    --green: #2A9D8F;
    --yellow: #E9C46A;
    --orange: #F4A261;
    --red: #E76F51;
    --white: #fff;
    --black: #000;
}
/*This set 1 rem to 10px instead of it being 16px so now 1.6 rem is now 16px*/
html{
    font-size: 62.5%;
}
/*Setting up the h1 - h6 tags with the font-sizes*/
h1 {
    font-size: 4rem;
    font-family: 'Open Sans';
}
h2 {
    font-size: 3.5rem;
    font-family: 'Open Sans';
}
h3 {
    font-size: 3rem;
    font-family: 'Open Sans';
}
h4 {
    font-size: 2.5rem;
    font-family: 'Open Sans';
}
h5 {
    font-size: 2rem;
    font-family: 'Open Sans';
}
h6 {
    font-size: 1.5rem;
    font-family: 'Open Sans';
} 
p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-family: 'Open Sans';
    font-weight: 300;
}

/*===================
      NAVIGATION
====================*/

.navbar{
    background: var(--dark-green);
}
.navbar-items{
    padding: 0rem 4rem;
}
.navbar-brand{
    color: var(--white);
}
.navbar-brand:hover{
    color: var(--orange);
    text-decoration: none;
}
.navbar-nav li{
    padding: 1rem 1rem;
}
.navbar-nav li a{
    color: var(--white);
    text-transform: uppercase;
}
.navbar-nav li a:hover{
    color: var(--orange);
    text-decoration: none;
}

/*======================
        FOOTER
======================*/

footer{
    background-color: var(--dark-green);
}
